[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json.git
[submodule "src/ResourceManager"]
	path = src/ResourceManager
	url = git@github.com:sebbekarlsson/ResourceManager.git
[submodule "src/cpr"]
	path = src/cpr
	url = https://github.com/whoshuu/cpr.git
